@import './reset.css'; 

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: pink;
  height: 100%;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav {
  display: flex;
}

.container {
  flex: 1;
  display: flex;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

nav {
  background-color: yellow;
}

main {
  background-color: blueviolet;
  display: flex;
  flex: 1;
}

footer {
  flex: 1;
  background-color: green;
  height: 100%;
}